@font-face {
  font-family: "VGA8";
  src: url("/fonts/vga8.woff") format("woff");
}

:root {
  --peter: #64a70b;
  --off-white: #fcfcfc;
  --deep-gray: #060606;
  --mid-gray: #242424;
  --text-normal: #d3d0b7;
  --background-dark: #151515;
  --background-light: #202020;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Sina Nova W01 Regular", "Noto Sans Hebrew", serif;
}

html {
  font-size: 1.05em;
  color: var(--off-white);
}

body {
  background: var(--background-dark);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-bottom: 12px;
}

a {
  color: var(--peter);
}

a:hover {
  filter: brightness(140%);
  text-decoration: line-through;
}

ul {
  padding-left: 1em;
}

hr {
  margin: 2em auto;
}

li.post-item {
  display: table;
  width: 100%;
}

a.post-title {
  float: left;
}

div.post-date i {
  float: right;
}

.home-description {
  display: flex;
  gap: 2em;
}

@media (max-width: 800px) {
  .home-description {
    flex-direction: column;
    align-items: center;
  }
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  padding: 1em;
  a {
    text-decoration-line: none;
  }
}

footer {
  display: flex;
  justify-content: center;
  color: var(--text-normal);
  margin-bottom: 22px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    white-space: nowrap;
    font-size: 14px;
  }
}

main {
  display: flex;
  place-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 80vw;
}

ul.none,
ol.none {
  list-style-type: none;
}

.content {
  padding: 1em;
  overflow-wrap: break-word;
  h2,
  h3 {
    margin: 0 0 8px 0;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  border: none;
}

#canvas-container {
  max-width: 100%;
  height: 99%;
  border: none;
  position: relative;
  canvas,
  img {
    position: absolute;
    top: 0;
    z-index: 1;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

#back-button {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-moz-keyframes spin {
  25% {
    -moz-transform: rotate(4deg);
  }
  50% {
    -moz-transform: rotate(0);
  }
  75% {
    -moz-transform: rotate(-4deg);
  }
  100% {
    -moz-transform: rotate(0);
  }
}
@-webkit-keyframes spin {
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}
@keyframes spin {
  25% {
    transform: rotate(4deg) scale(1.05);
  }
  50% {
    transform: rotate(0) scale(1);
  }
  75% {
    transform: rotate(-4deg) scale(1.05);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

.responsive-container {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

@media (min-width: 768px) {
  .responsive-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-column,
  .right-column {
    width: 50%;
  }
}
