@font-face {
	font-family: 'Dobra';
	src:
		local('Dobra Black'),
		local('Dobra-Black'),
		url('/Dobra-Black.woff2') format('woff2'),
		url('/Dobra-Black.woff') format('woff'),
		url('/Dobra-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SinaNova';
	src:
		local('Sina Nova'),
		local('Sina-Nova'),
		url('/sina_nova.ttf') format('truetype');
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;

	font-family: 'SinaNova', sans-serif;
}


html {
	width: 100%;
	height: 100%;
}

body {
	background: #060606;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

#main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	position: absolute;
	z-index: 999;
	top: 0;

	@media (max-width: 768px) {
		#card #ai-badge {
			width: 100px;
			height: 32px;
			top: 2%;
			right: 2%;
		}
	}

	#card #ai-badge {
		position: absolute;
		right: 5%;
		top: 4%;
		width: 131px;
		height: 42px;
		background-image: url(
			"./Written-By-Human-Not-By-AI-Badge-white.svg"
		);
		background-size: cover;
		transition: background-image 1s ease-in-out;
		transform: translateX(0);
	}

	#card #ai-badge:hover {
		background-image: url(
			"./Written-By-Human-Not-By-AI-Badge-black.svg"
		);
	}

	#card nav {
		margin: 3% 0 5% 2%;
		padding: 1% 0 1% 3.5%;
		width: 55%;
		word-spacing: 35px;
		background-color: #242424;

		a.active {
				text-decoration-line: underline;
				font-weight: bold;
		}

	}
}


a {
	font-size: 18px;
	color: #81d70e;
	text-decoration: none;
}

a:hover {
	color: #81d70e;
	text-decoration: line-through;
}

h1,h2,h3 {
	font-family: 'Libre Baskerville', sans-serif;
	color: #64a70b;
}
h1 {
	font-size: 28px;
}
h4,h5,h6 {
	font-family: 'SinaNova', sans-serif;
	color: white;
}
p {
	font-family: 'SinaNova', sans-serif;
	font-size: 18px;
	color: white;
}


#card::-webkit-scrollbar {
	display: none;
}

#card {
	display: flex;
	flex-direction: column;

	width: 90%;
	height: 90%;
	background-color: #101010;

	overflow: visible;

	-ms-overflow-style: none;

	nav, h1, h2, h3, h4, h5 {
		padding-left: 3%;
		padding-right: 3%;
	}

	h1 {
		margin-bottom: 2%;
	}

	#about {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#about, .entry {
		padding: 0% 3% 3% 3%;
		p {
			margin: 0;
			padding: 0;
		}
	}

	.blog-entry {
		padding: 0% 3% 3% 3%;
		margin: 0% 15% 0% 0%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ol.none {
		list-style-type: none;
	}

	ol.bullet {
		list-style-type: disc;
		color: white;
		padding-left: 5%;
	}

	ol {
		scrollbar-width: none;
		li {
			padding-bottom: 3%;
		}
	}

	footer {
		max-width: 100%;


		li p a {
			color: white;
		}

		li p a:hover {
			color: #4caf50; /* Replace with your preferred hover color */
		}

		p {
			font-size: 14px;
		}

		ul {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		li {
			white-space: nowrap;
		}
	}

}



img {
	max-width: 100%;
	border: none;
}



#canvas-container {
  max-width: 100%;
	height: 99%;
	border: none;
	position: relative;

	canvas, img {
		position: absolute;
		top: 0;
		z-index: 1;
	}

	img {
		margin-left: auto;
		margin-right: auto;
	}
}
