@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
img {
    border: none;
}
a {
    color: #64a70b;
    text-decoration: none;
}
a:hover {
    color: #64a70b;
    text-decoration: line-through;
}
h1 {
		font-size: 32px;
		color: #64a70b;
}
h2,h4,h5,h6 {
		color: #64a70b;
}
h3 {
    margin: 10px 0;
}
p {
    margin: 10px 0;
		
		font-size: 12px;
		color: #64a70b;
}
#main_container {
    width: 1000px;
    margin: 0 auto;
}
#header {
    width: 1000px;
    padding: 0px 0px;
    margin-bottom: 0px;
}
.logo {
    float: left;
}
#left_container {
    float: left;
    width: 150px;
    font-size: 11px;
    padding-left: 28px;
    padding-bottom: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#left_container::-webkit-scrollbar {
    display: none;
}

#left_container h3 {
    font-size: 13px;
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
    margin: 8px 0 0 0;
}
#left_container ul.left_list {
      list-style-type: none;
      margin: 4px 0;
      overflow-y: scroll;
      max-height: 325px;
}

#left_container ul.left_list li {
    margin: 0px 0;
}
#center_container {
    color: #fff;
    float: left;
    margin-left: 5px;
    width: 12px;
    padding: 10px 10px;
}
#right_container {
    color: #fff;
    width: 521px;
    float: left;
}

#right_container h3.title a {
    font-size: 0px;
    color: #fff;
    font-weight: normal;
}

#right_container img.featured_big {
    margin: 0;
    width: 521px;
    height: 332px;
}
#right_container p {
    width: 800px;
    height: 800px;
    font-size: 12px;
}
#footer {
    width: 980px;
    padding: 10px;
    text-align: right;
    background-color: #fff;
    margin-top: 15px;
    font-size: 10px;
}


.blog_post {
		margin-top: 	 15px;
		margin-bottom: 15px;

		max-height: 	 600px;
		width:      	 825px;
		
		overflow-x: hidden;
		overflow-y: auto;

		border: 1px dashed rgba(0, 0, 0, 0.2);

		word-wrap: break-word;
		overflow-wrap: break-word;
		box-sizing: border-box;

		p {
				padding-left: 42px;
		}

}
